@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.duo-letters {
    margin: 0 5vh 0 0;
}

.duo-letters:nth-child(1) {
    font-size: 100px;
}

.duo-letters:nth-child(2) {
    font-size: 150px;
}

.letters-container {
    display: inline;
    font-size: 100px;
}

#letter4 {
    transform: translateX(50px);
}

.introduction {
    opacity: 0;
    font-size: large;
    margin-left: 5px;
}

.fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}

section:nth-child(1) {

}

section:nth-child(2) {
    display: none;
}