.duo-letters {
    margin: 0 5vh 0 0;
}

.duo-letters:nth-child(1) {
    font-size: 100px;
}

.duo-letters:nth-child(2) {
    font-size: 150px;
}

.letters-container {
    display: inline;
    font-size: 100px;
}

#letter4 {
    transform: translateX(50px);
}

.introduction {
    opacity: 0;
    font-size: large;
    margin-left: 5px;
}

.selecting-guide {
    margin-left: 5px;
    padding: 10px 15px 10px 15px;
    background-color: bisque !important;
    position: absolute;
    border-radius: 10vh;
    border: 2px solid black;
    -webkit-box-shadow: 4px 10px 39px -4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 10px 39px -4px rgba(0,0,0,0.5);
    box-shadow: 4px 10px 39px -4px rgba(0,0,0,0.5);
    
}

.selection {
    margin: 10vh 0 0 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 20vh 0 20px;
    flex: 1;
}

.selection-parent {
    display: flex;
    overflow:hidden;
    float: left;
}