@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.duo-letters {
    margin: 0 5vh 0 0;
}

.duo-letters:nth-child(1) {
    font-size: 100px;
}

.duo-letters:nth-child(2) {
    font-size: 150px;
}

.letters-container {
    display: inline;
    font-size: 100px;
}

#letter4 {
    transform: translateX(50px);
}

.introduction {
    opacity: 0;
    font-size: large;
    margin-left: 5px;
}

.fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
}

.container {
    text-align: center;
}


@keyframes fadeInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Your existing CSS */

section[data-curShow="1"] {
    display: block;
    opacity: 1;
    visibility: visible;
}

section[data-curShow="0"] {
    display: none;
    opacity: 0;
    visibility: hidden;
}

section[data-curAnimation="up"] {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInFromTop 0.5s ease forwards;
}

section[data-curAnimation="down"] {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInFromBottom 0.5s ease forwards;
}
